language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script:
  - npm run publish-demo
# deploy:
#   provider: pages
#   skip-cleanup: true
#   github-token: $GITHUB_TOKEN
#   keep-history: true
#   on:
#     branch: master
notifications:
  email:
    recipients:
    - dimitrisraptis96@gmail.com
    on_success: change
    on_failure: always

